---
import Cuadrado from '../components/Cuadrado.astro';
import Layout from '../layouts/Layout.astro';
import Triangulo from '../components/Triangulo.astro';
import Cubo from '../components/Cubo.astro';
import Cilindro from '../components/Cilindro.astro';
---

<Layout>
	<h2 style="margin-left:400px;">Figuras Planas</h2>
	<Cuadrado />
	<Triangulo />
	<h2 style="margin-left:400px; margin-top: 50px;">Solidos</h2>
	<Cubo />
	<Cilindro />


</Layout>
